<div class="row">
    <div class="col s12 m3"></div>

    <div class="flow-text col s12 m6 center-align">
        <div><select id="levels"></select></div>
        <div><select id="categories"></select></div>
        <div><input id="search" type="text" placeholder="Search applications"></div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 flow-text">
        <div id="apps" class="js-external-link">
        </div>

        <input type="hidden" id="auth" name="auth" value="" />
        <div id="preload-next" class="center"></div>
    </div>
</div>
