<div id="{{idaction}}" class="card hide">
    <div class="card-content">
        <div class="row">
            <div class="col s1 m1">
                <div class="avatar">
                    <img class="icon" height="48" width="48" src="{{icon}}"/>
                </div>
            </div>
            <div class="col s9 m9">
                <span class="title">{{name}} </span>
                {{#details}}
                    <div id="trunc-{{idaction}}" >
                        <span class="black-text">
                            <a class="tooltipped waves-effect waves-light left teal-text">
                                <i class="material-icons">details</i>
                            </a>
                            {{{truncated}}}
                        </span>
                    </div>
                    <div hidden id="descr-{{idaction}}">
                        <span class="black-text">
                            <a class="tooltipped waves-effect waves-light left teal-text">
                                <i class="material-icons">change_history</i>
                            </a>
                            {{{truncated}}}
                            <br>
                            {{{details}}}
                        </span>
                    </div>
                {{/details}}
            </div>
            <div class="col s2 m2"> 
                <span class="title right">{{id}}</span>
                <span class="right">{{connection}}</span>
            </div>
        </div>
        <div id="logicals-{{idaction}}" class="row">
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#trunc-{{idaction}} i").on("click", function () {
        showDescription("{{idaction}}");
    });
    $("#descr-{{idaction}} i").on("click", function () {
        showTruncated("{{idaction}}");
    });
});
</script>
