<div class="row flow-text">
    <div class="col s12 m12">
        <ul id="info" class="collection">
            <li class="collection-item tooltipped" data-tooltip="Project">
                <i class="material-icons">album</i>
                <span>{{project}}</span>
            </li>

            <li class="collection-item tooltipped" data-tooltip="IP address">
                <i class="material-icons">my_location</i>
                <span>{{ip}}</span>
            </li>

            <li class="collection-item tooltipped" data-tooltip="Mask">
                <i class="material-icons">group_work</i>
                <span>{{mask}}</span>
            </li>

            <li class="collection-item tooltipped" data-tooltip="Network">
                <i class="material-icons">settings_ethernet</i>
                <span>{{network}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="row noScreen normal-size">
    <div id="label" class="col s12 m12 l12">
        <div class=" valign-wrapper">
            <div class="card-image">
                <div >{{{qrcode2}}}</div>
            </div>
            <div class="card-image">
                <div >{{{qrcode2}}}</div>
            </div>

            <div class="card-image">
                <div >{{{qrcode}}}</div>
            </div>
            <div class="card-image">
                <div >{{{qrcode}}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row normal-size">
    <div class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper bordered">
            {{{qrcode2}}}
            <div class="card-content">
                <p>{{name}}</p>
                <p>{{uuid}}</p>
                <p>{{server}}</p>
                <p>{{helpdesk}}</p>
            </div>
        </div>
        <div class="card-action noPrint">
            <a id="print-label" class="btn-floating btn-large waves-effect waves-light right">
                <i class="material-icons">print</i>
            </a>
        </div>
    </div>
</div>

<div class="row noScreen normal-size">
    <div class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper bordered">
            {{{qrcode2}}}
            <div class="card-content">
                <p>{{name}}</p>
                <p>{{uuid}}</p>
                <p>{{server}}</p>
                <p>{{helpdesk}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row noScreen small-size">
    <div class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper bordered">
            {{{qrcode}}}
            <div class="card-content">
                <p>{{name}}</p>
                <p>{{uuid}}</p>
                <p>{{server}}</p>
                <p>{{helpdesk}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row noScreen small-size">
    <div class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper bordered">
            <div class="card-image">
                <div>{{{qrcode}}}</div>
            </div>
            <div class="card-content">
                <p>{{name}}</p>
                <p>{{uuid}}</p>
                <p>{{server}}</p>
                <p>{{helpdesk}}</p>
            </div>
        </div>
    </div>
</div>
