<div class="row">
    <div class="col s3 m3"></div>
    <div class="col s6 m6 center-align">
        <div class="card">
            <div class="card-content switch">
                <div>
                    <label class="flow-text">
                        <select id="language"></select>
                    </label>            
                </div>
                <div>
                    <label class="flow-text">
                        {{txt_synchronize}}
                        <input id="show_details_to_sync" type="checkbox" />
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
