<div class="row flow-text">
    <div class="col s12 m12">
        <ul id="info" class="collection">
            <li class="collection-item">
                <i class="material-icons tooltipped" data-tooltip="Project">album</i>
                <span>{{project}}</span>
            </li>

            <li class="collection-item">
                <i class="material-icons tooltipped" data-tooltip="IP">my_location</i>
                <span>{{ip}}</span>
            </li>

            <li class="collection-item">
                <i class="material-icons tooltipped" data-tooltip="Mask">group_work</i>
                <span>{{mask}}</span>
            </li>

            <li class="collection-item">
                <i class="material-icons tooltipped" data-tooltip="Network">settings_ethernet</i>
                <span>{{network}}</span>
            </li>
        </ul>
    </div>
</div>


<div class="row noScreen" style="height:3cm;width:12cm;">
    <div id="label" class="col s12 m12 l12">
        <div class=" valign-wrapper">
            <div class="card-image">
                <div >{{{qrcode2}}}</div>
            </div>
            <div class="card-image">
                <div >{{{qrcode2}}}</div>
            </div>

            <div class="card-image">
                <div >{{{qrcode}}}</div>
            </div>
            <div class="card-image">
                <div >{{{qrcode}}}</div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="height: 3cm; width: 12cm;">
    <div id="label" class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper"  style="border: 2px solid black;">
            {{{qrcode2}}}
            <div class="">
                <div class="card-content" style=" padding: 0px 0px 0px 4px;">
                    <p style="font-size: 18px;">{{name}}</span>
                    <p style="font-size: 12px;">{{uuid}}</p>
                    <p style="font-size: 12px;">{{server}}</p>
                    <p style="font-size: 12px;">{{helpdesk}}</p>
                </div>
            </div>
        </div>
        <div class="card-action noPrint">
            <a id="print-label" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">print</i></a>
        </div>
    </div>
</div>

<div class="row noScreen" style="height: 3cm; width: 12cm;">
    <div id="label" class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper"  style="border: 2px solid black;">
            {{{qrcode2}}}
            <div class="">
                <div class="card-content" style=" padding: 0px 0px 0px 0px;">
                    <p style="font-size: 18px;">{{name}}</span>
                    <p style="font-size: 12px;">{{uuid}}</p>
                    <p style="font-size: 12px;">{{server}}</p>
                    <p style="font-size: 12px;">{{helpdesk}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row noScreen" style="height: 2cm; width: 8cm;">
    <div id="label" class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper"  style="border: 2px solid black;">
            {{{qrcode}}}
            <div class="">
                <div class="card-content" style=" padding: 0px 0px 0px 0px;">
                    <p style="font-size: 12px;" id="uuid">{{name}}</p>
                    <p style="font-size: 8px;" id="uuid">{{uuid}}</p>
                    <p style="font-size: 8px;" id="server">{{server}}</p>
                    <p style="font-size: 8px;" id="helpdesk">{{helpdesk}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row noScreen" style="height: 2cm; width: 8cm;">
    <div id="label" class="col s12 m12 l12">
        <div class="card horizontal valign-wrapper"  style="border: 2px solid black;">
            <div class="card-image">
                <div>{{{qrcode}}}</div>
            </div>
            <div class="">
                <div class="card-content" style=" padding: 0px 0px 0px 0px;">
                    <p style="font-size: 12px;" id="uuid">{{name}}</p>
                    <p style="font-size: 8px;" id="uuid">{{uuid}}</p>
                    <p style="font-size: 8px;" id="server">{{server}}</p>
                    <p style="font-size: 8px;" id="helpdesk">{{helpdesk}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



