#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Migasfree Play
Type=Application
Exec=bash -c "sudo migasfree-play"
Icon=migasfree-play
Categories=System;
StartupNotify=false
Terminal=false

