body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    margin-top: 0;
}

#password{
    -webkit-text-security: disc;
}

#console-output {
    flex-basis: 100%;
    flex-grow: 1;
    flew-shrink: 1;
    overflow: auto;
    flex-margin: 20px;
    margin-top:10px;
    font-size: 1.1rem;
}

.row {
    margin-bottom: 0px !important;
}

.scrolly {
    width: 100%;
    height: 350px;
    overflow-x: scroll;
    white-space: nowrap;
    border: 1px;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

#apps .title {
    font-size: 150%;
    display: block;
    margin: 0;
}

#printers .title {
    font-size: 150%;
    display: block;
    margin: 0;
}

#apps .category {
    font-size: 70%;
    padding-left: 8px;
}

#apps .rating {
    font-size: 20%;
    padding: 0;
}

#apps .icon {
    width: 48px;
    height: 48px;
}

#apps .avatar {
    position: relative;
}

#printers .icon {
    width: 48px;
    height: 48px;
}

#printers .avatar {
    position: relative;
}

#logo {
    opacity: .7;
}

hr {
    width: 50%;
    border: none;
    border-bottom: 4px solid grey;
}

.normal-size {
    height: 3cm;
    width: 12cm;
}

.small-size {
    height: 2cm;
    width: 8cm;
}

.bordered {
    border: 2px solid #000;
}

.bordered :first-of-type {
    padding: 0;
}

.card .card-content {
    padding: 6px;
}

.card-content :first-of-type {
    font-size: 18px;
}

.normal-size .card-content,
.small-size .card-content {
    padding: 0 !important;
}

.card-content > p {
    font-size: 12px;
}

.small-size .card-content :first-of-type {
    font-size: 12px;
}

.small-size .card-content p {
    font-size: 8px;
}

.qrcode {
    position: relative;
    left: -4px;
}

.qrcode > p {
    font-size: 8px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 0;
}

.qrcode-large {
    position: relative;
    left: -5px;
}

.qrcode-large > p {
    font-size: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 0;
}

.md-36 {
    font-size: 36px !important;
}

.md-28 {
   font-size: 28px !important;
}

.md-12 {
    font-size: 12px !important;
}

.console-section {
    color: green;
    font-weight: bold;
}

.console-warning {
    color: yellow;
}

.console-error {
    color: red;
    font-weight: bold;
}

.console-info {
    color: green;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.chip {
   border-radius: 16px;
   font-size: 12px !important;
}

@media print {
    .noPrint {
        display:none;
    }
    .noScreen {}
    .new_page {page-break-before:always;}
}

@media screen {
    .noScreen {
        display:none;
    }
    .noPrint {}
}
