Source: migasfree-play
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://github.com/migasfree/migasfree-play

Package: migasfree-play
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, migasfree-client (>= 4.14), sudo, bash, nwjs
Description: migasfree play
 migasfree play application
